.outerBox{
    display: flex;
}
.odinBox {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100vh;  
     position: relative;
}


.formCont{
    flex: 2;
}

img{
    display: block;
}


.innerlabel{
    display: flex;
    opacity: 0.7;
    flex: 3;
    justify-content: center;
    align-items: center;
    font-family: "Caesar Dressing", sans-serif;
    color: white;
    position: absolute; 
    top: 25%;            
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
      background-color: rgb(8, 42, 16);

}